# === Annie Music Bot requirements ===

aiofiles
aiohttp>=3.9.0
apscheduler>=3.10.4
beautifulsoup4
bing_image_downloader
deepai
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gtts
heroku3
httpx[http2]==0.28.1
lexica-api
motor
nekosbest
numpy
pytgcalls==3.0.0.dev24
opencv-python-headless
pillow
psutil
pycryptodome
pydub
pyfiglet
pyrogram==2.0.106
pyshorteners
python-dotenv
python-whois
pyyaml
qrcode
requests
SpeechRecognition
speedtest-cli
spotipy
telegraph
tgcrypto>=1.2.5
unidecode
wget
yt-dlp

# Git dependencies
git+https://github.com/MarshalX/ntgcalls.git
git+https://github.com/CertifiedCoders/youtube-search-python
